<h1>Edit a Figure</h1>

<form action="/figures/#{@figure.id}" method="POST">
<input id="hidden" type="hidden" name="_method" value="patch">
  <label>Name:</label><input type="text" id="figure_name" value="<%=@figure.name%>" name="figure[name]">

<br></br>

 <label>Select Title:</label>
  <%Title.all.each do |title|%>
      <input type="checkbox" name="figure[title_ids][]" value="<%=title.id%>" id="title_<%=title.id%>"><%=title.name%></input>
  <%end%>

<br></br>

Or create a new title:

<br></br>

<label>Title:</label><input type="text" id="new_title" value="<%=title.id%>" name="title[name]">

<br></br>

 <label>Select Landmark:</label>
  <%Landmark.all.each do |landmark|%>
      <input type="checkbox" name="figure[landmark_ids][]" value="<%=landmark.id%>" id="landmark_<%=landmark.id%>"><%=landmark.name%></input>
  <%end%>

<br></br>

Or create a new landmark:

<br></br>

<label>Landmark:</label><input type="text" id="new_landmark" name="landmark[name]">

<br></br>

<input type="submit" value="Edit Figure">
</form>